.previewItem {
  min-width: 300px;
  width: 30%;
  cursor: pointer;
  margin: 0 1rem 0.5rem 0;
  height: 300px;

  &__img {
    width: 100%;
    height: 90%;
    background-position: center;
    background-size: cover;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: auto;
    padding: 10px 5px;
    background-color: #eaeaea;
    font-weight: bold;
  }
}
